#front00{
	display: block;
}

/*FLEX CONTAINERS*/
#front01,
#front02,
#front03,
#front04,
#front05 {
	display: flex;
	width: 100%;
	margin: 20px auto;
	flex-wrap: nowrap;
}
#front05 {
	width: 50%;
}

/*FLEX ITEMS <PADRÃO> */
.artigo {
	flex-basis: 200px;
}
#front01 .artigo,
#front02 .artigo {
	flex-shrink: 0;
}
#front03 .artigo,
#front04 .artigo,
#front05 .artigo {
	flex-shrink: 1;
}
/*FLEX ITEMS <EXCEÇÃO> */
#front04 .artigo02 {
	flex-shrink: 3;
	filter: grayscale(85%);
	color: #000;
}
#front02 .artigo02{
	flex-shrink: 1;
	filter: grayscale(85%);
	color: #000;
}
#front05 .artigo02 {
	flex-shrink: 0;
	filter: grayscale(85%);
	color: #000;
}